* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--main-bg-color);
    min-height: 100vh;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
    --main-theme-color-pink: #EAA7D6;
    --main-theme-color-mint: #A7EABB;
    --main-theme-color-white: white;
    --main-theme-color-black: black;
    --main-theme-color-grey: grey;
    --main-bg-color: #171517;
    --button-color-red: #FFC0CB;
    --main-error-color-red: red;
    --icon-filter-color-mint: invert(90%) sepia(18%) saturate(587%) hue-rotate(76deg) brightness(98%) contrast(87%);
    --icon-filter-color-red: invert(48%) sepia(50%) saturate(7135%) hue-rotate(340deg) brightness(100%) contrast(94%);
    --icon-filter-color-blue: invert(33%) sepia(48%) saturate(3863%) hue-rotate(223deg) brightness(103%) contrast(90%);
    --icon-filter-color-green: invert(50%) sepia(57%) saturate(1456%) hue-rotate(86deg) brightness(103%) contrast(103%);
}