.details-inner-container {
    display: flex;
    flex-direction: row;
    min-width: 1000px;
    max-width: 1100px;
    height: 800px;
}

.details-image-container {
    width: auto;
}

.details-image-container img {
    height: 100%;
    border-radius: 10px 0 0 10px;
}

.details-content-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px;
    background-color: var(--main-theme-color-lightgrey);
    width: 100%;
    border-radius: 0 10px 10px 0;
}

.details-content-container h1 {
    font-size: 40px;
}

.vote-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0 5px 0;
}

.seasons-container {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.details-release-date {
    font-size: 18px;
}

.details-content-container span {
    color: var(--main-theme-color-pink);
}

.details-tagline {
    margin-block: 20px;
    font-weight: normal;
    font-size: 20px;
    font-style: italic;
}

.details-content-container h3 {
    margin-block: 10px;
}

.back-to-previous-page {
    background-color: transparent;
    border: none;
    color: var(--main-theme-color-black);
    font-weight: bolder;
    font-size: 17px;
    width: 230px;
    text-decoration: underline;
    margin-left: -15px;
}

.back-to-previous-page:hover {
    color: var(--main-theme-color-pink);
}

.details-icons-container {
    display: flex;
    flex-direction: row;
    flex-basis: 100%;
    gap: 25px;
}

.inactive-favorite-button,
.inactive-watchlist-button,
.inactive-watched-button {
    border: 1px solid var(--main-theme-color-lightgrey);
    background-color: var(--main-theme-color-lightgrey);
    position: relative;
}

.inactive-favorite-button:hover::before,
.inactive-watchlist-button:hover::before,
.inactive-watched-button:hover::before {
    background-color: var(--main-theme-color-pink);
    position: absolute;
    top: 37px;
    padding: 4px;
    border-radius: 5px;
    font-size: 14px;
    color: var(--main-theme-color-lightgrey);
    width: 200px;
}

.inactive-favorite-button:hover::before {
    content: "Voeg toe aan je favorieten";
    left: 0;
}

.inactive-watchlist-button:hover::before {
    content: "Voeg toe aan je watchlist";
    left: -60px;
}

.inactive-watched-button:hover::before {
    content: "Voeg toe aan al gezien";
    left: -120px;
}

.active-favorite-button,
.active-watchlist-button,
.active-watched-button {
    border: 1px solid var(--main-theme-color-lightgrey);
    background-color: var(--main-theme-color-lightgrey);
}

.active-favorite-button img {
    filter: var(--icon-filter-color-blue);
}

.active-watchlist-button img {
    filter: var(--icon-filter-color-red);
}

.active-watched-button img {
    filter: var(--icon-filter-color-green);
}

.genres-container {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    max-width: 100%;
    flex-wrap: wrap;
}

.genres-container li {
    margin: 10px 10px 1px 0;
    padding: 4px 8px;
    border-radius: 14px;
    color: var(--main-theme-color-white);
    background-color: var(--main-theme-color-pink);
    border: 1px solid var(--main-theme-color-pink);
}

.providers-container {
    margin-top: 15px;
}

.providers-container ul{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    max-width: 100%;
    flex-wrap: wrap;
}
.providers-container li {
    margin: 1px 15px 1px 0;
}

.providers-container img {
    width: 45px;
    height: 45px;
    border-radius: 5px;
}

